/* PHASE 4: Footer */
.footer {
  color: #aaa;
  background: #fff;
  width: 900px;
  border: 1px solid #ccc;
  margin: auto;
  font-size: 14px;
  border-bottom-right-radius: 5px 5px;
  border-bottom-left-radius:  5px 5px;
  overflow: hidden;
}

.footer-copyright {
  float: left;
  padding: 20px;
}

.footer-list {
  float: right;
}

.footer-list > li {
  float: left;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.footer-list > li > a:hover {
  color: #000;
}
