<h1> Signup! </h1>

<form action="<%=users_url%>" method="post">
  <%= auth_token %>
  <label id="username"> Username: </label>
    <input id="username"
           type="text"
           name="user[user_name]"
           value="<%=@user.user_name%>">
  <br>

  <label id="password"> Password: </label>
    <input id="password" type="text" name="user[password]" value="">
  <br>

  <button> Submit </button>
</form>
