/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*RESET*/

 ul, h1, li, main, section, h2, a, p, body {
   background: transparent;
   margin: 0;
   padding: 0;
   border: 0;
   font-size: inherit;
   font-family: inherit;
   font-weight: inherit;
   text-decoration: inherit;
   color: inherit;
   text-align: inherit;
 }

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 /*SECTIONS*/

 body {
   font-family: sans-serif;
   font-weight: 400;
   text-align: left;
 }

 h1 {
   font-size: 36px;
   font-weight: 700;
   padding: 30px;
   background: lightgrey;
   border-bottom: 1px solid grey;
   text-align: center;
 }

 h2 {
   font-size: 24px;
   padding: 20px;
 }

 ul {
   list-style: none;
 }

main {
  margin: auto;
  width: 800px;
  height: 500px;
  background: lightblue;
}

p {
  padding: 20px;
}

li {
  padding: 10px;
}

a {
  margin-left: 10px;
  background: grey;
  padding: 5px;
  border-radius: 5px;
}

a:hover {
  color: purple;
  background: white;
}

.post-form {
  margin: 0px 20px 20px 20px;
}

 .sidebar {
   display: block;
   float: left;
   width: 300px;
   background: lightgreen;
   height: inherit;
   overflow: scroll;
 }



.hidden {
  display:none;
}



 .content {
   display: block;
   float: right;
   width: 500px;
   height: inherit;
   overflow: scroll;
   
 }
