<h2>Create Post</h2>


<form class="post-form">
  <label>
    Title:
    <input type="text" name="post[title]" value="">
  </label>
  <br>
  <br>
  <label>
    Body <br>
    <textarea name="post[body]" rows="8" cols="40"></textarea>
  </label>
  <br>
  <button>Submit</button>

</form>
