<h1>Create User</h1>

<form class="new-user">

  <label>
    Username
    <input type="text" name="user[username]">
  </label>
  <br>
  <label>
    Password
    <input type="password" name="user[password]">
  </label>

  <br>

  <button>Create</button>

</form>
