<h1>Sign-In</h1>

<form class="new-session">

  <label>
    Username
    <input type="text" name="user[username]">
  </label>
  <br>
  <label>
    Password
    <input type="password" name="user[password]">
  </label>

  <br>

  <button>Submit</button>

</form>
