<h1><%= board.escape('title') %></h1>

<content class="board-lists"></content>
<br>
<button class="delete-board">Delete Board</button>
<br>
<br>
<a href="#boards/<%= board.id %>/lists/new">Add List</a>
<br>
<br>
<a href="#">Board Index</a>
