<h1>Create Board</h1>

<form class="new-board">
  <label>
    Board Title:
    <input type="text" name="board[title]">
  </label>
  <br>
  <button>Create Board</button>
</form>
<br>
<a href="#">Board Index</a>
