<h1>Add List to <%= board.escape('title') %></h1>

<form class="new-list">
  <label>
    List Title
    <input type="string" name="list[title]">
  </label>
  <br>
  <label>
    Description
    <br>
    <textarea name="list[description]" rows="8" cols="20"></textarea>
  </label>
  <br>
  <button>Add List</button>

</form>
